# Build output
build/
bin/
out/

# Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Libraries
*.lib
*.a
*.dll
*.so
*.dylib

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing

Makefile*

src/test.cpp
testShaders/
testTextures/